In [7]:
import pandas as pd

In [1]:
prices = pd.read_csv('prices.csv')
prices.head()

NameError: name 'pd' is not defined

In [19]:
joining = pd.read_csv('joining.csv')
joining.head()

  block       street_name       lat        long        town
0   309  ANG MO KIO AVE 1  1.365271  103.844819  ANG MO KIO
1   216  ANG MO KIO AVE 1  1.366197  103.841505  ANG MO KIO
2   211  ANG MO KIO AVE 3  1.369197  103.841667  ANG MO KIO
3   202  ANG MO KIO AVE 3  1.368446  103.844516  ANG MO KIO
4   235  ANG MO KIO AVE 3  1.366824  103.836491  ANG MO KIO

In [22]:
prices.merge(joining, how='inner', left_on='STREETreet_name', right_on='street_name')

,month,town_x,flat_type,block_x,STREETreet_name,STREETorey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,block_y,street_name,lat,long,town_y
0,2017-01,BEDOK,4 ROOM,765,BEDOK RESERVOIR VIEW,04 TO 06,105.0,Premium Apartment,2000,83 years,480000.0,761,BEDOK RESERVOIR VIEW,1.335920,103.934446,BEDOK
1,2017-01,BEDOK,4 ROOM,765,BEDOK RESERVOIR VIEW,04 TO 06,105.0,Premium Apartment,2000,83 years,480000.0,765,BEDOK RESERVOIR VIEW,1.335706,103.936339,BEDOK
2,2017-01,BEDOK,4 ROOM,765,BEDOK RESERVOIR VIEW,04 TO 06,105.0,Premium Apartment,2000,83 years,480000.0,764,BEDOK RESERVOIR VIEW,1.335872,103.935401,BEDOK
3,2017-01,BEDOK,4 ROOM,765,BEDOK RESERVOIR VIEW,04 TO 06,105.0,Premium Apartment,2000,83 years,480000.0,762,BEDOK RESERVOIR VIEW,1.336220,103.934328,BEDOK
4,2017-01,BEDOK,4 ROOM,765,BEDOK RESERVOIR VIEW,04 TO 06,105.0,Premium Apartment,2000,83 years,480000.0,768,BEDOK RESERVOIR VIEW,1.335885,103.937336,BEDOK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210248,2020-08,HOUGANG,5 ROOM,477B,UPP SERANGOON VIEW,19 TO 21,112.0,Premium Apartment,2016,94 years 07 months,733888.0,477B,UPP SERANGOON VIEW,1.378812,103.904230,HOUGANG
210249,2020-08,HOUGANG,5 ROOM,477C,UPP SERANGOON VIEW,07 TO 09,115.0,Premium Apartment,2016,94 years 07 months,720000.0,476B,UPP SERANGOON VIEW,1.377328,103.904212,HOUGANG
210250,2020-08,HOUGANG,5 ROOM,477C,UPP SERANGOON VIEW,07 TO 09,115.0,Premium Apartment,2016,94 years 07 months,720000.0,476A,UPP SERANGOON VIEW,1.376760,103.904050,HOUGANG
210251,2020-08,HOUGANG,5 ROOM,477C,UPP SERANGOON VIEW,07 TO 09,115.0,Premium Apartment,2016,94 years 07 months,720000.0,477A,UPP SERANGOON VIEW,1.378309,103.903842,HOUGANG
210252,2020-08,HOUGANG,5 ROOM,477C,UPP SERANGOON VIEW,07 TO 09,115.0,Premium Apartment,2016,94 years 07 months,720000.0,477B,UPP SERANGOON VIEW,1.378812,103.904230,HOUGANG